﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="BackEndMasterPage.master.cs" Inherits="Admin_BackEndMasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/simple-sidebar.css" rel="stylesheet" />
    
    <link href="../css/site.css" rel="stylesheet" />
    <script src="../jq/jquery-2.2.0.min.js"></script>
    <script src="https://use.fontawesome.com/c47e99ab14.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <form id="form1" runat="server">
          <div id="wrapper">
              <div>
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
            <!-- /#wrapper -->


        </div>
    </form>
                <!-- Bootstrap Core JavaScript -->
            <script src="../js/bootstrap.js"></script>
</body>
</html>
